body{
    position:relative;
    min-height:100%;
}

.main_content {
    padding-bottom: 40px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu_font {
        font-size: 0.8em;
    }
    .footer_font {
        font-size: 0.8em;
    }
    .current-width {
        width: 90vw;
    }
    .btn.font {
        font-size: .5em;
        font-weight: 500;
    }
    .hist_font {
        font-size: .8em;
        font-weight: 500;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu_font {
        font-size: 1.25em;
    }
    .footer_font {
        font-size: 1em;
    }
    .current-width {
        width: 80vw;
    }
    .btn.font {
        font-size: .85em;
        font-weight: 600;
    }
    .hist_font {
        font-size: 1em;
        font-weight: 500;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu_font {
        font-size: 1.5em;
    }
    .footer_font {
        font-size: 1.25em;
    }
    .current-width {
        width: 70vw;
    }
    .btn.font {
        font-size: .8em;
        font-weight: 700;
    }
    .hist_font {
        font-size: 1.25em;
        font-weight: 600;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu_font {
        font-size: 1.75em;
    }
    .footer_font {
        font-size: 1.40em;
    }
    .current-width {
        width: 60vw;
    }
    .btn.font {
        font-size: .85em;
        font-weight: 800;
    }
    .hist_font {
        font-size: 1.5em;

    }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu_font {
        font-size: 2em;
    }
    .footer_font {
        font-size: 1.5em;
    }
    .current-width {
        width: 60vw;
    }
    .btn.font {
        font-size: .85em;
    }
    .hist_font {
        font-size: 2em;

    }
}
/*******************************Start of Header & Menu*********************************/
.App {
  text-align: center;
}

.App-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #254257;
}
.menu {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

.menu:hover {
        background: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*******************************End of Header & Menu*********************************/
/*******************************Start of Footer*********************************/
.App-footer {
    background: #254257;
    bottom: 0px;
    height: 40px;
    right: 0%;
    left: 0%;
    position: fixed !important;
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    visibility: visible;
}
/*******************************End of Footer*********************************/
/*******************************Start of Current WeatherPage*********************************/
.Current {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1vw;
}
.Current-header {
    font-weight: bold;
    background-color: #004C66;
    color: #c0a65e;
    text-align: center;
    height: 10vh;
    padding-top: 1px;
    margin: 0.5em;
    border-radius: 4px;
}
.Current-col {
    float: left;
    margin-top: 6px;
}

.Current-row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5% 5% 0.5% 8%;
    box-shadow: 0 5px 10px 0 rgb(160, 229, 255, 0.4);
    transition: 0.3s;
    border: 20px solid var(--deepskyblue);
    border-radius: 4px;
    background: var(--yellow);
    background-color: #99E5FF;
    margin: 0.5em;
}

/*******************************End of Current WeatherPage*********************************/
/*******************************Start of Historical WeatherPage*********************************/
.historical {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 6px;
    margin: 8px 8px 8px 8px;
    color: #f2f2f2;
    background-color: #73868D;
    display: inline-block;
    background: #73868D;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

.btn:hover, .btn:focus {
        opacity: 0.8;
}

.btn:active {
        -webkit-transform: scale(0.80);
        -moz-transform: scale(0.80);
        -ms-transform: scale(0.80);
        -o-transform: scale(0.80);
        transform: scale(0.80);
}

.btn.block {
        display: block !important;
}


/*******************************End of Historical WeatherPage*********************************/

/*******************************Start of Health Page*********************************/
.health__message {
    text-align: center;
    font-size: 2em;
}
.health__background::before {
    background-image: url("images/good-weather.jpg");
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;       
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}
.health__background--bad::before {
    background-image: url("images/bad-weather.jpg");
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;       
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
/*******************************End of Health Page*********************************/

.container {
  display: flex;
  flex-wrap: wrap;
}
  .hourly {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .card {
    flex-basis: calc(100% / 24);
    text-align: center;
    background-color: #e5f6ff;
    border: 1px solid #b3e3ff;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;

    
  }
  .card img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .card p:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .card p:nth-child(3) {
    font-weight: normal;
    margin-top: 5px;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.1)
  }
  


.form-container {
  margin-bottom: 20px;
}

.form-container input {
  padding: 10px;

  border-radius: 5px;
  margin-right: 10px;
}

.form-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0069d9;
}