body{
    position:relative;
    min-height:100vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu_font {
        font-size: 0.8em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu_font {
        font-size: 1.25em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu_font {
        font-size: 1.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu_font {
        font-size: 1.75em;
    }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu_font {
        font-size: 2em;
    }
}
/*******************************Start of Header & Menu*********************************/
.App {
  text-align: center;
}


.App-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #254257;
}
.menu {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5em;
}

    .menu:hover {
        background: black;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*******************************End of Header & Menu*********************************/
/*******************************Start of Footer*********************************/
.App-footer {
    background: #254257;
    color: white;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 3em;
    text-align: center;
    font-size: 1.25em;
}
/*******************************End of Footer*********************************/
/*******************************Start of Current WeatherPage*********************************/
.Current {
    border-radius: 5px;
    margin:auto 20vw auto 20vw;
    width: 55vw;
    display: inline-block;
    padding: 1vw;
}
.Current-header {
    font-weight: bold;
    background-color: #004C66;
    color: #c0a65e;
    text-align: center;
    height: 10vh;
    padding-top: 1px;
    margin: 0.5em;
}
.Current-col {
    float: left;
    margin-top: 6px;
}

.Current-row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5vw 2vw 0.5vw 10vw;
    box-shadow: 0 2px 4px 0 rgb(13, 59, 102, 0.4);
    transition: 0.3s;
    border: 20px solid var(--deepskyblue);
    max-width: 72em;
    min-width: 12em;
    border-radius: 4px;
    background: var(--yellow);
    background-color: #99E5FF;
    margin: 0.5em;
}

/*******************************End of Current WeatherPage*********************************/




.container {
  display: flex;
  flex-wrap: wrap;
}
.forecast-container {
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.card {
    width: calc(20.33% - 10px); 
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  } 
  .card img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
.form-container {
  margin-bottom: 20px;
}

.form-container input {
  padding: 10px;

  border-radius: 5px;
  margin-right: 10px;
}

.form-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0069d9;
}